#logo {width:200px;height:100px;background:url(images/logo.png);}
#ads{background:url(images/show.jpg);}
#android{background:url(images/android.png);width:250px; height:100px;}
#ios{background:url(images/ios.png);width:250px; height:100px;}